<?xml version="1.0" encoding="UTF-8"?>



<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- 파일로 로그를 남김 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/admin.log</file>
        <rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/admin-$d{yyyy-MM-dd}log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </Pattern>
        </encoder>
    </appender>


    <!--

             com.victolee.logExample 아래 패키지 로그들만  consoleAppender, fileAppender 방법으로 로그를 남긴다.

             물론 <appender-ref ref="consoleAppender" />를 추가하여 콘솔로도 로그를 남길 수 있다.

    -->
    <logger name = "com" additivity="false">
        <level value = "info"/>
        <!--<appender-ref ref = "STDOUT"/>-->
        <appender-ref ref = "fileAppender"/>
    </logger>
    <logger name = "org" additivity="false">
        <level value = "error"/>
        <!--<appender-ref ref = "STDOUT"/>-->
        <appender-ref ref = "fileAppender"/>
    </logger>

    <!-- root는 글로벌 로거를 의미하며, 위의 logger에 해당하지 않으면 root 로거가 실행된다. -->

    <root>
        <level value="debug"/>
        <appender-ref ref = "com"/>
        <appender-ref ref = "fileAppender" />
    </root>

</configuration>